* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

/etc/
/logs/
/mail/
/perl5/
/public_ftp/
/public_html/
/repositories/
/ssl/
/tmp/
/www
yes
yes.pub
